
@import "components/color";

body{
    font-family: 'Marvel', sans-serif;
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: #f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.menu_margen{
    margin-left: 4rem !important;
}
.menu_text{
    margin-left: 40rem !important;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
}
@media (max-width: 500px){
    .menu_margen{
        margin-left: 0rem !important;
     }
    .menu_text{
        margin-left: 0rem !important;
    }

    .img_p{
        background-image: url('../img/iron_man_2.jpg') !important;
        background-size: 100%;
    }

    .logo{
        max-width: 33%;
    }
    .navbar{
        background-color: #343a40 !important;
        position: fixed !important;
    }
    .network{
        text-align: center !important;
    }
    .foo_ter{
        text-align: center !important;
    }

}

.colVotoNew{
    padding-right: 0;
    padding-left: 0;
}

.btnVotoNew{
    border-radius: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.progressNow{
    height: 40px;
    margin-top: -1px !important;
    border-radius: 0 !important;
}

.card{
    border: 0px !important;
}

.bg-warning {
    background-color: #ffa300 !important;
}

.badge-warning {
    color: #fff;
    background-color: #ffa300;
}

.hr_foo{
    border:1px dashed;
}

.network{
    text-align: right;
}

.fixed-top{
    position: absolute;
}

.img_p{
    background-color:white !important;
    background-image: url('../img/ironman.png');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    
}

.box_p{
    background-color: rgba(0, 0, 0, .6);
    color: white !important;
}

.card-img-overlay {
    top: auto !important;
}

.gradiente_img{
    background: linear-gradient(rgba(0,0,0,0.0) 0%, rgba(0, 0, 0, 0.7) 100%); 
}

.logo{
    position: absolute;
    top: 0;
}

#viewDislike{
    display: none;
}

#viewLike{
    display: none;
}

#linkHero{
    text-decoration: underline;
    color: white;
}

#linkHero:hover{
    text-decoration: underline;
    color: #00aea5;
}