$text: #fff;
$success: #00aea5;
$successHover: rgba(0, 174, 165,.7);
$warning: #ffa300;
$warningHover: rgba(255, 163, 0, .7);

.btn-success {
    color: $text;
    background-color: $success !important;
    border-color: $success !important;
}

.btn-success:hover {
    color: #fff;
    background-color: $successHover;
    border-color: $successHover;
}

.bg-success {
    background-color: $success !important;
}

.badge-success {
    color: #fff;
    background-color: $success;
}

.btn-warning {
    color: #fff;
    background-color: $warning !important;
    border-color: $warning !important;
}

.btn-warning:hover {
    color: #fff;
    background-color: $warningHover;
    border-color: $warningHover;
}
